<div>
  <p><span>Question {{index}} )</span> {{question.enonce}}</p>
  <div class="tresh-container"><button class="trash-button" (click)="deleteQuestion(question.id)"><i class="fas fa-trash-alt"></i></button></div>
  <label for="userResponse-{{index}}">Votre réponse</label>
  <input *ngIf="question.type === 'OPEN'" type="text" name="userResponse" id="userResponse-{{index}}" [(ngModel)]="userReponse" >
  <div *ngIf="question.type === 'TRUE_FALSE'" >
    <input id="inputRadio1-{{index}}" type="radio" value="true"  name="userReponse{{index}}" [(ngModel)]="userReponse" >vrai
    <input id="inputRadio2-{{index}}" type="radio" value="false" name="userReponse{{index}}" [(ngModel)]="userReponse" >faux
  </div>
  <div *ngIf="question.type === 'MULTIPLE'" >
    <label for="select{{index}}">Choisissez votre réponse</label>
    <select name="select{{index}}" id="select{{index}}" [(ngModel)]="userReponse" >
      <option *ngFor="let suggestion of question.suggestions " >{{suggestion}}</option>
    </select>
  </div>
  <button (click)="enregistrerUserResponse(question.id)">Valider</button>
  <p>Reponse : {{textResult}} </p>
</div>
