<h2>Liste de questions</h2>
<div>
  <ul *ngFor="let question of questionList; let i = index " >
<!--
    j'écoute avec le updatelist
-->
    <li><app-question
      [index]="i + 1"
      [question]="question"
      (updatedList)="onQuestionDeleted($event)"></app-question></li>
  </ul>
</div>
