<h2>Création de question</h2>
<div class="create_container">
  <div class="select_container">
  <label for="typeQuestionSelector">Type de la question</label>
  <select [(ngModel)]="selectedType" name="typeQuestion" id="typeQuestionSelector"  >
    <option selected value="TRUE_FALSE">Vrai/Faux </option>
    <option value="OPEN">Open Question</option>
    <option value="MULTIPLE">QCM</option>
  </select>
  </div>
  <div>
    <label for="questionTextInput">Texte de la question</label>
    <input type="text" id="questionTextInput" [(ngModel)]="questionText" >
  </div>
<!--
  si question ouverte
-->
  <div *ngIf="selectedType === 'OPEN'">
    <label for="openQuestionResponseInput">Reponse de la question</label>
    <input type="text" id="openQuestionResponseInput" [(ngModel)]="responseText" (keydown.enter)="creerLaQuestion()">
  </div>
<!--
  si true false
-->
  <div *ngIf="selectedType === 'TRUE_FALSE'"  >
    <label for="QuestionResponseInputFalse" >Reponse de la question</label>
    <input type="radio" [(ngModel)]="responseText" value="false" name="trueFalseQuestionResponseInput" id="QuestionResponseInputFalse">Faux
    <input type="radio"  [(ngModel)]="responseText" value="true" name="trueFalseQuestionResponseInput" id="QuestionResponseInputTrue">Vrai
  </div>
<!--
  si qCM
-->
  <div *ngIf="selectedType === 'MULTIPLE'" >
    <label for="QCMQuestionResponseInputReal">Bonne Reponse de la question</label>
    <input type="text" id="QCMQuestionResponseInputReal" [(ngModel)]="responseText" >
    <label for="QCMQuestionResponseInputFalse1" >Choix 1</label>
    <input type="text" id="QCMQuestionResponseInputFalse1" [(ngModel)]="multiChoice1" >
    <label for="QCMQuestionResponseInputFalse2">Choix 2</label>
    <input type="text" id="QCMQuestionResponseInputFalse2" [(ngModel)]="multiChoice2">
    <label for="QCMQuestionResponseInputFalse3">Choix 3</label>
    <input type="text" id="QCMQuestionResponseInputFalse3" [(ngModel)]="multiChoice3" >
  </div>
<!--valider-->
  <button (click)="creerLaQuestion()">Créer</button>
</div>
