
<nav>
  <a class="main_btn " routerLink="/questions" routerLinkActive="active">Question</a>
  <a class="main_btn " routerLink="/create" routerLinkActive="active">Créer une question</a>
</nav>
<main>
  <h1>Quizzator !!</h1>
<router-outlet></router-outlet>
</main>
