nav, footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
  background-color: #ff7600;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 50px;

}

nav a{
  text-decoration: none;
  color: white;
  margin:0 20px;
}

nav a:hover{
  color: yellow;
}

h1{
  color: #ff7600;
  text-align: center;
}
